@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&display=swap');
.image-serve-1{
    img{
        width:32%;
        height: 100%;
        object-fit: cover;
    }
}
.image-serve-2 {
    img {
        width: 17%;
        height: 100%;
        object-fit: cover;
    }
}
.image-serve-3 {
    img {
        width: 25%;
        height: 100%;
        object-fit: cover;
    }
}
.image-detail-serve-1{
    img{
       width: 100%;
        object-fit: cover;
    }
}

.border-serve{
    border: 10px solid #cccccc;
    border-radius: 10px;
}
.title-serve{
    font-size: 70px;
    color: #3f7d58;
    font-family: "Bevan", serif;
    font-weight: 400;
    font-style: normal;
}

.text-header-service{
    h2{
        font-family: "Bevan", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 100px;
        line-height: 130%;
        letter-spacing: 0%;
        text-align: center;
        color: #385938;
    }
    p{
        font-family: "Bevan", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 80px;
        color: #3f7d58;
    }
}

.modal-header{
    border-bottom: none;
    justify-content: center;
    
    .modal-title {
        width: 100%;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        color: #3f7d58;
    }
}

.modal-footer{
    border-top: none;
}
